{% extends 'base.html.twig' %}
{% block title %}{{ title | capitalize }}{% endblock %}

{% block body %}
    <section id="wrapper" class="login_form">
        <div id="left">
            <div id="signin">
                <h1>Password Update</h1>
                <a class="back_home" href="{{ path('home_page') }}"><i class="fas fa-home"></i> back to home</a>
                {{ form_start(formPassword) }}
                {{ form_row(formPassword.newPassword) }}
                <button class="btn_primary" type="submit">Update password</button>
                {{ form_end(formPassword) }}
                <div class="links">
                    <a href="{{ path('user_login') }}">login</a>
                    <a href="{{ path('user_registration') }}">create an account</a>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="showcase">
                <a href="{{ path('user_registration') }}">
                    <h2 class="showcase_text">Create an account</h2>
                </a>
            </div>
        </div>
    </section>
{% endblock %}

