{% extends 'admin/base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block title %}{{ title | capitalize }}{% endblock %}
{% block body %}
    <section class="admin admin_container">
        <h1>Jobs</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-info">
                <tr>
                    <th class="text-center">ID</th>
                    <th><i class="far fa-newspaper"></i> title</th>
                    <th><i class="fas fa-at"></i> author email</th>
                    <th><i class="fas fa-edit"></i> created at</th>
                    <th><i class="fas fa-edit" title="edit"></i> updated at</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                    <tr>
                        <td class="text-center">{{ job.id }}</td>
                        <td>{{ job.title }}</td>
                        <td>{{ job.username }}</td>
                        <td>{{ job.createdAt|date('d/m/Y H:i:s ', '+02:00 GMT') }}</td>
                        <td>{{ job.updatedAt|date('d/m/Y H:i:s ', '+02:00 GMT') }}</td>
                        <td>
                            <a href="{{ path('jobs_show' , {'slug': job.slug, 'id': job.id }) }}">
                                <i class="far fa-eye fa-lg text-primary mr-1" title="view"></i>
                            </a>
                            <a href="{{ path('admin_job_edit', {'id': job.id}) }}">
                                <i class="fas fa-edit fa-lg text-secondary mr-1" title="edit"></i>
                            </a>
                            <a href="{{ path('admin_job_delete', {'id': job.id}) }}">
                                <i class="far fa-trash-alt fa-lg text-danger" title="delete"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(jobs) }}
        </div>
    </section>
{% endblock %}

