{% extends 'base.html.twig' %}
{% block title %}{{ title | capitalize }}{% endblock %}
{% block body %}
    <section class="jumbotron">
        <div class="jumbotron_container">
            <div class="jumbotron_text_container">
                <h1>phpantry.com</h1>
                <h2>A job board for php developper</h2>
                <p>
                    Phpantry let you post job offers targeting php developpers.
                    Register an account and sign in to post your latest job offers!
                </p>
                <p>Our dev community is active and you'll be able to find the right dev for your company</p>
            </div>
            <div class="jumbotron_img_container">
                <img id="vs_code" src="{{ asset('img/phpantry.png') }}" alt="jumbotron phpantry">
            </div>
        </div>
    </section>
    <section class="job_listing">
        <h1>Latest jobs</h1>
        {% for job in jobs %}
            <a href="{{ path('jobs_show' , {'slug': job.slug, 'id': job.id }) }}">
                <article class="job">
                    <div class="job_card">
                        <img class="new_job_label" src="{{ asset('img/svg/new.svg') }}" alt="new job logo">
                        <div class="job_image">
                            {# if logo null default img  #}
                            {% if job.filename %}
                                <img src="{{ asset('img/company_logo/' ~ job.filename) | my_imagine_filter('logo') }}"
                                     alt="{{ job.filename }} logo">
                            {% else %}
                                <img style="color: #4E5B92;" src="{{ asset('img/company_logo/php_logo.svg') }}"
                                     alt="php logo">
                            {% endif %}
                        </div>
                        <div>
                            <h4 class="job_title">{{ job.title }}</h4>
                            <p class="job_company">{{ job.company }}</p>
                        </div>
                        <ul>

                            <li>
                                <span class="job_createdAt"><i
                                            class="far fa-calendar-alt"></i> {{ job.createdAt|date('m/d/Y') }}</span>
                            </li>
                            <li>
                            <span class="job_location"><i class="fas fa-map-marker-alt" aria-hidden="true"></i><span
                                        class="sr-only">job location</span> {{ job.location }}</span>
                            </li>
                            <li>
                            <span class="job_contract">
                                <span class="sr-only">contract type</span>
                                {{ job.contract }}
                            </span>
                            </li>
                        </ul>
                    </div>
                </article>
            </a>
        {% endfor %}
    </section>
{% endblock %}

